<!DOCTYPE html>
<html>
<head>
    <title>Bootplus 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootplus -->
    <link href="css/bootplus.min.css" rel="stylesheet" media="screen">
    <link href="css/bootplus-responsive.min.css" rel="stylesheet" media="screen">
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/bootplus-ie7.min.css">
    <![endif]-->
</head>
<body>
    <h1>Hello, world!</h1>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>